## 创建DataFrame

### 创建一个DataFrame

In [5]:
import pandas as pd
from pandas import DataFrame
import numpy as np

randn=np.random.randn(8,5)
print(randn)

[[ 1.01345117  0.44022263 -0.02786588 -0.55889983  0.5713547 ]
 [-0.34568826  1.10914862 -1.44828819  0.67935213 -1.51734984]
 [-1.05654386  0.01851015  1.9143771   1.85037744  0.71514943]
 [ 0.62941199  0.40834049  0.31145199 -0.16245376 -0.54343127]
 [ 0.95411772  1.25726951 -0.83611439  1.01662391 -1.09618364]
 [-0.69668051  0.01314333 -1.21789639  0.52957295 -1.93897403]
 [ 0.41739476 -0.72665806 -0.80341016  0.50006991  0.68655087]
 [-0.58960661  0.10444628 -0.63730473 -0.33384841 -0.92993976]]

In [9]:
alist=np.arange(1,9,1)
print(alist)
blist=list('ABCDE')
print(blist)

[1 2 3 4 5 6 7 8]
['A', 'B', 'C', 'D', 'E']

In [53]:
df=pd.DataFrame(randn,index=alist,columns=blist)
print(df)
df.dtypes

          A         B         C         D         E
1  1.013451  0.440223 -0.027866 -0.558900  0.571355
2 -0.345688  1.109149 -1.448288  0.679352 -1.517350
3 -1.056544  0.018510  1.914377  1.850377  0.715149
4  0.629412  0.408340  0.311452 -0.162454 -0.543431
5  0.954118  1.257270 -0.836114  1.016624 -1.096184
6 -0.696681  0.013143 -1.217896  0.529573 -1.938974
7  0.417395 -0.726658 -0.803410  0.500070  0.686551
8 -0.589607  0.104446 -0.637305 -0.333848 -0.929940

A    float64
B    float64
C    float64
D    float64
E    float64
dtype: object

In [21]:
df.head()
df.head(3)

          A         B         C         D         E
1  1.013451  0.440223 -0.027866 -0.558900  0.571355
2 -0.345688  1.109149 -1.448288  0.679352 -1.517350
3 -1.056544  0.018510  1.914377  1.850377  0.715149

In [23]:
df.describe()

              A         B         C         D         E
count  8.000000  8.000000  8.000000  8.000000  8.000000
mean   0.040732  0.328053 -0.343131  0.440099 -0.506603
std    0.807404  0.638075  1.079168  0.788323  1.047429
min   -1.056544 -0.726658 -1.448288 -0.558900 -1.938974
25%   -0.616375  0.017168 -0.931560 -0.205302 -1.201475
50%    0.035853  0.256393 -0.720357  0.514821 -0.736686
75%    0.710588  0.607454  0.056964  0.763670  0.600154
max    1.013451  1.257270  1.914377  1.850377  0.715149

### 数据排序
用sort_values,by哪一列，ascending设置升序和倒序

In [26]:
df.sort_values(by='B',ascending=False)

          A         B         C         D         E
5  0.954118  1.257270 -0.836114  1.016624 -1.096184
2 -0.345688  1.109149 -1.448288  0.679352 -1.517350
1  1.013451  0.440223 -0.027866 -0.558900  0.571355
4  0.629412  0.408340  0.311452 -0.162454 -0.543431
8 -0.589607  0.104446 -0.637305 -0.333848 -0.929940
3 -1.056544  0.018510  1.914377  1.850377  0.715149
6 -0.696681  0.013143 -1.217896  0.529573 -1.938974
7  0.417395 -0.726658 -0.803410  0.500070  0.686551

## .loc和.iloc选择数据

### 选取某一列

In [27]:
df['B']

1    0.440223
2    1.109149
3    0.018510
4    0.408340
5    1.257270
6    0.013143
7   -0.726658
8    0.104446
Name: B, dtype: float64

### 选取多列

In [51]:
df[['B','D']]

           B         D
1   0.440223   -0.5589
2    1.10915  0.679352
3        aaa       aaa
4    0.40834 -0.162454
5         ac        ac
6  0.0131433  0.529573
7  -0.726658   0.50007
8   0.104446 -0.333848

### 选取某行

In [29]:
df.loc[1]

A    1.013451
B    0.440223
C   -0.027866
D   -0.558900
E    0.571355
Name: 1, dtype: float64

### 选取多行

In [47]:
df.loc[[1,3]]
df.loc[1:3]

          A         B          C         D         E
1   1.01345  0.440223 -0.0278659   -0.5589  0.571355
2 -0.345688   1.10915   -1.44829  0.679352  -1.51735
3       aaa       aaa        aaa       aaa       aaa

### 选取一块数据

In [32]:
df.loc[1:3,['B','C']]

          B         C
1  0.440223 -0.027866
2  1.109149 -1.448288
3  0.018510  1.914377

### 选取连续多列数据要用df.iloc
.iloc使用全是以0开头的行号和列号，不能直接用其它索引。而.loc使用的实际设置的索引和列名

In [34]:
df.iloc[1:3,2:4]

          C         D
2 -1.448288  0.679352
3  1.914377  1.850377

## 筛选数据isin(), str.contains()

### 根据数值筛选
并且用&，或者用|

In [54]:
df[(df['B']>0)&(df['C']<0)]

          A         B         C         D         E
1  1.013451  0.440223 -0.027866 -0.558900  0.571355
2 -0.345688  1.109149 -1.448288  0.679352 -1.517350
5  0.954118  1.257270 -0.836114  1.016624 -1.096184
6 -0.696681  0.013143 -1.217896  0.529573 -1.938974
8 -0.589607  0.104446 -0.637305 -0.333848 -0.929940

In [55]:
df[['B','C']][(df['B']>0)&(df['C']<0)]

          B         C
1  0.440223 -0.027866
2  1.109149 -1.448288
5  1.257270 -0.836114
6  0.013143 -1.217896
8  0.104446 -0.637305

In [49]:
df2=pd.DataFrame(np.random.randn(8,5),index=np.arange(1,9,1),columns=list('ABCDE'))
print(df2)

          A         B         C         D         E
1  1.453606  0.152156 -0.396139 -0.164462  0.955184
2 -0.529427 -0.882184 -1.291494 -1.186572 -0.333015
3 -0.828337 -1.825952 -0.796416 -0.161129 -0.171349
4 -0.690116  0.790669 -0.379343 -0.267542  0.302974
5 -0.342745  0.220742 -1.710230  0.303803 -0.356832
6  0.326483  0.429699  0.111721  0.322238 -0.807655
7  1.228047 -0.186172  1.087775 -0.280314  0.341105
8 -1.190636 -0.713313  0.358419  1.886019 -0.457658

In [57]:
df2.loc[3]='aaa'
df2.loc[5]='ac'
print(df2)

          A         B         C         D         E
1   1.45361  0.152156 -0.396139 -0.164462  0.955184
2 -0.529427 -0.882184  -1.29149  -1.18657 -0.333015
3       aaa       aaa       aaa       aaa       aaa
4 -0.690116  0.790669 -0.379343 -0.267542  0.302974
5        ac        ac        ac        ac        ac
6  0.326483  0.429699  0.111721  0.322238 -0.807655
7   1.22805 -0.186172   1.08777 -0.280314  0.341105
8  -1.19064 -0.713313  0.358419   1.88602 -0.457658

### 精确查找.isin

In [58]:
df2[df2['C'].isin(['aaa','ac'])]
#如果想要isnotin,用df2[~df2['C'].isin(['aaa','ac'])]

     A    B    C    D    E
3  aaa  aaa  aaa  aaa  aaa
5   ac   ac   ac   ac   ac

### 模糊查找 .contains

In [117]:
df3=pd.DataFrame(np.random.randint(10,size=(6,2)),columns=['销售','人员数量'])
df3['区域']=['四川A','四川B','四川C','重庆A','重庆B','重庆C']
df3=df3.reindex(columns=['区域','销售','人员数量'])
print(df3)

    区域  销售  人员数量
0  四川A   9     5
1  四川B   9     1
2  四川C   5     1
3  重庆A   9     8
4  重庆B   4     1
5  重庆C   0     1

In [101]:
df3.loc[df3['区域'].str.contains('四川')]

    区域  销售  人员数量
0  四川A   1     1
1  四川B   7     0
2  四川C   1     2

In [106]:
df3.loc[df3['区域'].str.contains('四川|A')]

    区域  销售  人员数量
0  四川A   1     0
1  四川B   7     0
2  四川C   1     0
3  重庆A   9     2

### 用loc和contain修改表格

In [107]:
df3.loc[df3['区域'].str.contains('四川'),['人员数量']]=0
print(df3)

    区域  销售  人员数量
0  四川A   1     0
1  四川B   7     0
2  四川C   1     0
3  重庆A   9     2
4  重庆B   9     4
5  重庆C   8     4

## 读写excel，使用书签

### 读写Excel

In [109]:
df4=pd.read_excel(r'C:\Users\shifeng.tian\Desktop\Python学习\test.xlsx')
print(df4)

    序号 产品名称       销量1       销量2       销量3       销量4       销量5       销量6  \
0    1    A  0.491635  0.798509  0.594845  0.830152  0.791545  0.240166
1    2    B  0.926247  0.295765  0.539713  0.664779  0.661058  0.528993
2    3    C  0.815358  0.243104  0.053447  0.615961  0.134731  0.264342
3    4    D  0.109010  0.842934  0.832135  0.048712  0.066561  0.547945
4    5    E  0.883969  0.578032  0.783917  0.291968  0.921318  0.005972
5    6    F  0.729036  0.624487  0.658897  0.066834  0.706790  0.919602
6    7    G  0.904931  0.405485  0.453157  0.035007  0.574129  0.503826
7    8    H  0.581688  0.385911  0.914271  0.188742  0.030460  0.729672
8    9    I  0.648921  0.226329  0.405165  0.908911  0.161221  0.894446
9   10    J  0.800125  0.780605  0.243823  0.256188  0.445094  0.463112
10  11    K  0.709340  0.361336  0.396993  0.664933  0.546339  0.457326
11  12    L  0.974517  0.779699  0.098991  0.259130  0.582077  0.299320

         销量7       销量8
0   0.746440  0.075691
1   0.927310  0.641919
2   0.257605  0.488298
3   0.710885  0.608345
4   0.559561  0.836303
5   0.458084  0.007211
6   0.227180  0.431798
7   0.647287  0.471928
8   0.513772  0.370357
9   0.902662  0.703008
10  0.838195  0.962660
11  0.924266  0.279921

### 设置书签

In [112]:
bookmark test C:\Users\shifeng.tian\Desktop\Python学习
cd test
df5=pd.read_excel('test.xlsx')

SyntaxError: invalid syntax (<ipython-input-112-473a6f376a38>, line 1)

### 写入Excel

In [114]:
df4.to_excel(r'C:\Users\shifeng.tian\Desktop\Python学习\输出.xlsx')

## 设置和修改索引，计数，多表交叉合并

In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np

In [104]:

df6=pd.read_excel(r'C:\Users\shifeng.tian\Desktop\Python学习\test2.xlsx')
print(df6)

   序号  姓名    销售  上班天数
0   1  张三  1456    12
1   2  李四   456     2
2   3  张三    54    20
3   4  李四   154    21
4   5  张三    45    22
5   6  李四    65    25
6   7  张三    54    24
7   8  李四   554    24
8   9  张三     5    23

### 修改索引

In [105]:
df6=df6.set_index('序号')
print(df6)

    姓名    销售  上班天数
序号
1   张三  1456    12
2   李四   456     2
3   张三    54    20
4   李四   154    21
5   张三    45    22
6   李四    65    25
7   张三    54    24
8   李四   554    24
9   张三     5    23

### 计数与添加行

In [80]:
df6['姓名'].count()

9

In [106]:
df6.loc[df6['姓名'].count()+1]=['曹阿曼',24,3]
print(df6)

     姓名    销售  上班天数
序号
1    张三  1456    12
2    李四   456     2
3    张三    54    20
4    李四   154    21
5    张三    45    22
6    李四    65    25
7    张三    54    24
8    李四   554    24
9    张三     5    23
10  曹阿曼    24     3

In [107]:
df7=df6
df8=pd.DataFrame(columns=df6.columns)
print(df8)

Empty DataFrame
Columns: [姓名, 销售, 上班天数]
Index: []

In [108]:
df6=df6.set_index(np.arange(1,df6['销售'].count()*2+1,2))
print(df6)

     姓名    销售  上班天数
1    张三  1456    12
3    李四   456     2
5    张三    54    20
7    李四   154    21
9    张三    45    22
11   李四    65    25
13   张三    54    24
15   李四   554    24
17   张三     5    23
19  曹阿曼    24     3

In [109]:
df7=df7.set_index(np.arange(2,df7['销售'].count()*2+1,2))
print(df7)

     姓名    销售  上班天数
2    张三  1456    12
4    李四   456     2
6    张三    54    20
8    李四   154    21
10   张三    45    22
12   李四    65    25
14   张三    54    24
16   李四   554    24
18   张三     5    23
20  曹阿曼    24     3

In [111]:
for i in np.arange(1,(df6['销售'].count())*2+1,2):
    df8.loc[i]=df6.loc[i]
    df8.loc[i+1]=df7.loc[i+1]
print(df8)

     姓名    销售 上班天数
1    张三  1456   12
2    张三  1456   12
3    李四   456    2
4    李四   456    2
5    张三    54   20
6    张三    54   20
7    李四   154   21
8    李四   154   21
9    张三    45   22
10   张三    45   22
11   李四    65   25
12   李四    65   25
13   张三    54   24
14   张三    54   24
15   李四   554   24
16   李四   554   24
17   张三     5   23
18   张三     5   23
19  曹阿曼    24    3
20  曹阿曼    24    3

## 计数与占比

### 计数.value_counts()

In [112]:
df8['姓名'].value_counts()

张三     10
李四      8
曹阿曼     2
Name: 姓名, dtype: int64

In [114]:
df8['姓名'].value_counts(ascending=True)

曹阿曼     2
李四      8
张三     10
Name: 姓名, dtype: int64

### 占比

In [131]:
df8['姓名'].value_counts(normalize=True)

张三     0.5
李四     0.4
曹阿曼    0.1
Name: 姓名, dtype: float64

## 行列重排

In [7]:
df=pd.DataFrame(np.random.randn(8,5),columns=list('ABCDE'))
df['序号']=[1,2,3,4,5,6,7,8]
df=df.reindex(columns=['序号','A','B','C','D','E'])
print(df)

   序号         A         B         C         D         E
0   1 -1.521263  0.490200  0.497052  0.401745  0.011467
1   2  0.206824 -1.131438  0.478276  1.356714 -1.488409
2   3  0.720319 -0.250217 -0.578435 -0.411097 -1.498134
3   4  0.407077 -2.563033  0.096742  2.117202  0.522486
4   5  1.956795  1.107548  1.251372 -0.441782 -0.327651
5   6  0.920159 -1.027417  0.175777 -0.240585  0.319216
6   7 -1.519717  1.159183 -0.160256 -0.816344 -0.193251
7   8  0.138851  0.327710 -0.758824  0.698508 -0.443310

### 重新设置索引.set_index()

In [8]:
df=df.set_index('序号')
print(df)

           A         B         C         D         E
序号
1  -1.521263  0.490200  0.497052  0.401745  0.011467
2   0.206824 -1.131438  0.478276  1.356714 -1.488409
3   0.720319 -0.250217 -0.578435 -0.411097 -1.498134
4   0.407077 -2.563033  0.096742  2.117202  0.522486
5   1.956795  1.107548  1.251372 -0.441782 -0.327651
6   0.920159 -1.027417  0.175777 -0.240585  0.319216
7  -1.519717  1.159183 -0.160256 -0.816344 -0.193251
8   0.138851  0.327710 -0.758824  0.698508 -0.443310

### 调整行列顺序.reindex()

In [10]:
df=df.reindex(index=[2,3,5,9,8,7,6,1,4])
print(df)

           A         B         C         D         E
序号
2   0.206824 -1.131438  0.478276  1.356714 -1.488409
3   0.720319 -0.250217 -0.578435 -0.411097 -1.498134
5   1.956795  1.107548  1.251372 -0.441782 -0.327651
9        NaN       NaN       NaN       NaN       NaN
8   0.138851  0.327710 -0.758824  0.698508 -0.443310
7  -1.519717  1.159183 -0.160256 -0.816344 -0.193251
6   0.920159 -1.027417  0.175777 -0.240585  0.319216
1  -1.521263  0.490200  0.497052  0.401745  0.011467
4   0.407077 -2.563033  0.096742  2.117202  0.522486

### 向前填充ffill向后填充bfill

In [36]:
df=df.reindex(index=[1,2,3,4,5,6,7,8,9,10])
df=df.fillna(method='ffill')
print(df)

           A         B         C         D         E
序号
1  -1.521263  0.490200  0.497052  0.401745  0.011467
2   0.206824 -1.131438  0.478276  1.356714 -1.488409
3   0.720319 -0.250217 -0.578435 -0.411097 -1.498134
4   0.407077 -2.563033  0.096742  2.117202  0.522486
5   1.956795  1.107548  1.251372 -0.441782 -0.327651
6   0.920159 -1.027417  0.175777 -0.240585  0.319216
7  -1.519717  1.159183 -0.160256 -0.816344 -0.193251
8   0.138851  0.327710 -0.758824  0.698508 -0.443310
9   0.138851  0.327710 -0.758824  0.698508 -0.443310
10  0.138851  0.327710 -0.758824  0.698508 -0.443310

## 匹配合并merge()

### 按相同的列合并

In [37]:
df1=pd.read_excel(r'C:\Users\shifeng.tian\Desktop\Python学习\test2.xlsx')
print(df1)

    区域   门店        销量      人员数量
0  四川A  门店1  0.059436  0.805311
1  四川A  门店2  0.874946  0.291768
2  四川B  门店3  0.072384  0.493068
3  四川B  门店4  0.284597  0.354886
4  四川C  门店5  0.025853  0.383879
5  四川C  门店6  0.066922  0.226861

In [53]:
df2=pd.read_excel(r'C:\Users\shifeng.tian\Desktop\Python学习\test2.xlsx')
print(df2)

    区域   门店      上月销售      人员数量
0  四川B  门店3  0.689927  0.926292
1  四川B  门店4  0.407408  0.595283
2  四川C  门店5  0.068880  0.592748
3  四川C  门店6  0.943595  0.586487
4  四川D  门店7  0.896747  0.942178
5  四川D  门店8  0.154836  0.548522

In [54]:
df=pd.merge(df1,df2,how='inner',left_on='门店',right_on='门店')
print(df)

  区域_x   门店        销量    人员数量_x 区域_y      上月销售    人员数量_y
0  四川B  门店3  0.072384  0.493068  四川B  0.689927  0.926292
1  四川B  门店4  0.284597  0.354886  四川B  0.407408  0.595283
2  四川C  门店5  0.025853  0.383879  四川C  0.068880  0.592748
3  四川C  门店6  0.066922  0.226861  四川C  0.943595  0.586487

In [63]:
df=pd.merge(df1,df2,how='inner',on='门店',suffixes=('左表',‘右表’))
print(df)

SyntaxError: invalid character in identifier (<ipython-input-63-f29ae199b8f3>, line 1)

In [59]:
df=pd.merge(df1[['区域','门店','销量']],df2[['门店','上月销售']],how='inner',on='门店')
print(df)

    区域   门店        销量      上月销售
0  四川B  门店3  0.072384  0.689927
1  四川B  门店4  0.284597  0.407408
2  四川C  门店5  0.025853  0.068880
3  四川C  门店6  0.066922  0.943595

### 合并的方式left, inner, right，outer。
how='inner' 只合并两个DataFrame里面都有行。
how='left' 除了含两个表里都有的行，也会将第一个表中独有的行合并。
how='right' 除了含两个表里都有的行，也会将第二个表中独有的行合并。
how='outer'除了含两个表里都有的行，也会将两个表中独有的行合并。

In [65]:
df=pd.merge(df1[['区域','门店','销量']],df2[['门店','上月销售']],how='left',on='门店')
print(df)

    区域   门店        销量      上月销售
0  四川A  门店1  0.059436       NaN
1  四川A  门店2  0.874946       NaN
2  四川B  门店3  0.072384  0.689927
3  四川B  门店4  0.284597  0.407408
4  四川C  门店5  0.025853  0.068880
5  四川C  门店6  0.066922  0.943595

In [66]:
df=pd.merge(df1[['区域','门店','销量']],df2[['门店','上月销售']],how='right',on='门店')
print(df)

    区域   门店        销量      上月销售
0  四川B  门店3  0.072384  0.689927
1  四川B  门店4  0.284597  0.407408
2  四川C  门店5  0.025853  0.068880
3  四川C  门店6  0.066922  0.943595
4  NaN  门店7       NaN  0.896747
5  NaN  门店8       NaN  0.154836

In [64]:
df=pd.merge(df1[['区域','门店','销量']],df2[['门店','上月销售']],how='outer',on='门店')
print(df)

    区域   门店        销量      上月销售
0  四川A  门店1  0.059436       NaN
1  四川A  门店2  0.874946       NaN
2  四川B  门店3  0.072384  0.689927
3  四川B  门店4  0.284597  0.407408
4  四川C  门店5  0.025853  0.068880
5  四川C  门店6  0.066922  0.943595
6  NaN  门店7       NaN  0.896747
7  NaN  门店8       NaN  0.154836

### 以索引作为键合并

In [68]:
df=pd.merge(df1[['区域','门店','销量']],df2[['门店','上月销售']],how='right',right_index=True,left_index=True)
print(df)

    区域 门店_x        销量 门店_y      上月销售
0  四川A  门店1  0.059436  门店3  0.689927
1  四川A  门店2  0.874946  门店4  0.407408
2  四川B  门店3  0.072384  门店5  0.068880
3  四川B  门店4  0.284597  门店6  0.943595
4  四川C  门店5  0.025853  门店7  0.896747
5  四川C  门店6  0.066922  门店8  0.154836

In [70]:
df=pd.merge(df1[['区域','门店','销量']],df2[['门店','上月销售']],how='outer',on='门店',indicator=True)
print(df)

    区域   门店        销量      上月销售      _merge
0  四川A  门店1  0.059436       NaN   left_only
1  四川A  门店2  0.874946       NaN   left_only
2  四川B  门店3  0.072384  0.689927        both
3  四川B  门店4  0.284597  0.407408        both
4  四川C  门店5  0.025853  0.068880        both
5  四川C  门店6  0.066922  0.943595        both
6  NaN  门店7       NaN  0.896747  right_only
7  NaN  门店8       NaN  0.154836  right_only

## 简单合并concat()及多数据组一次性匹配合并

### 直接简单合并

In [71]:
df=pd.concat([df1,df2])
print(df)

       上月销售      人员数量   区域        销量   门店
0       NaN  0.805311  四川A  0.059436  门店1
1       NaN  0.291768  四川A  0.874946  门店2
2       NaN  0.493068  四川B  0.072384  门店3
3       NaN  0.354886  四川B  0.284597  门店4
4       NaN  0.383879  四川C  0.025853  门店5
5       NaN  0.226861  四川C  0.066922  门店6
0  0.689927  0.926292  四川B       NaN  门店3
1  0.407408  0.595283  四川B       NaN  门店4
2  0.068880  0.592748  四川C       NaN  门店5
3  0.943595  0.586487  四川C       NaN  门店6
4  0.896747  0.942178  四川D       NaN  门店7
5  0.154836  0.548522  四川D       NaN  门店8

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [73]:
#取消原来索引
df=pd.concat([df1,df2],ignore_index=True)
print(df)

        上月销售      人员数量   区域        销量   门店
0        NaN  0.805311  四川A  0.059436  门店1
1        NaN  0.291768  四川A  0.874946  门店2
2        NaN  0.493068  四川B  0.072384  门店3
3        NaN  0.354886  四川B  0.284597  门店4
4        NaN  0.383879  四川C  0.025853  门店5
5        NaN  0.226861  四川C  0.066922  门店6
6   0.689927  0.926292  四川B       NaN  门店3
7   0.407408  0.595283  四川B       NaN  门店4
8   0.068880  0.592748  四川C       NaN  门店5
9   0.943595  0.586487  四川C       NaN  门店6
10  0.896747  0.942178  四川D       NaN  门店7
11  0.154836  0.548522  四川D       NaN  门店8

D:\anaconda\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [74]:
#横向合并
df=pd.concat([df1,df2],axis=1)
print(df)

    区域   门店        销量      人员数量   区域   门店      上月销售      人员数量
0  四川A  门店1  0.059436  0.805311  四川B  门店3  0.689927  0.926292
1  四川A  门店2  0.874946  0.291768  四川B  门店4  0.407408  0.595283
2  四川B  门店3  0.072384  0.493068  四川C  门店5  0.068880  0.592748
3  四川B  门店4  0.284597  0.354886  四川C  门店6  0.943595  0.586487
4  四川C  门店5  0.025853  0.383879  四川D  门店7  0.896747  0.942178
5  四川C  门店6  0.066922  0.226861  四川D  门店8  0.154836  0.548522

### 部分合并

In [76]:
df=pd.concat([df1[['门店','销量']],df2],axis=1)
print(df)

    门店        销量   区域   门店      上月销售      人员数量
0  门店1  0.059436  四川B  门店3  0.689927  0.926292
1  门店2  0.874946  四川B  门店4  0.407408  0.595283
2  门店3  0.072384  四川C  门店5  0.068880  0.592748
3  门店4  0.284597  四川C  门店6  0.943595  0.586487
4  门店5  0.025853  四川D  门店7  0.896747  0.942178
5  门店6  0.066922  四川D  门店8  0.154836  0.548522

In [77]:
#找都有的列
df=pd.concat([df1,df2],join='inner')
print(df)

    区域   门店      人员数量
0  四川A  门店1  0.805311
1  四川A  门店2  0.291768
2  四川B  门店3  0.493068
3  四川B  门店4  0.354886
4  四川C  门店5  0.383879
5  四川C  门店6  0.226861
0  四川B  门店3  0.926292
1  四川B  门店4  0.595283
2  四川C  门店5  0.592748
3  四川C  门店6  0.586487
4  四川D  门店7  0.942178
5  四川D  门店8  0.548522

In [78]:
#注明数组来源，贴上标签
df=pd.concat([df1,df2],keys=['第一组数据df1','第二组数据df2'])
print(df)

                上月销售      人员数量   区域        销量   门店
第一组数据df1 0       NaN  0.805311  四川A  0.059436  门店1
         1       NaN  0.291768  四川A  0.874946  门店2
         2       NaN  0.493068  四川B  0.072384  门店3
         3       NaN  0.354886  四川B  0.284597  门店4
         4       NaN  0.383879  四川C  0.025853  门店5
         5       NaN  0.226861  四川C  0.066922  门店6
第二组数据df2 0  0.689927  0.926292  四川B       NaN  门店3
         1  0.407408  0.595283  四川B       NaN  门店4
         2  0.068880  0.592748  四川C       NaN  门店5
         3  0.943595  0.586487  四川C       NaN  门店6
         4  0.896747  0.942178  四川D       NaN  门店7
         5  0.154836  0.548522  四川D       NaN  门店8

D:\anaconda\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [82]:
#给多层索引添加名称
df=pd.concat([df1,df2],keys=['第一组数据df1','第二组数据df2'],names=['数据来源','原索引'])
print(df)

                  上月销售      人员数量   区域        销量   门店
数据来源     原索引
第一组数据df1 0         NaN  0.805311  四川A  0.059436  门店1
         1         NaN  0.291768  四川A  0.874946  门店2
         2         NaN  0.493068  四川B  0.072384  门店3
         3         NaN  0.354886  四川B  0.284597  门店4
         4         NaN  0.383879  四川C  0.025853  门店5
         5         NaN  0.226861  四川C  0.066922  门店6
第二组数据df2 0    0.689927  0.926292  四川B       NaN  门店3
         1    0.407408  0.595283  四川B       NaN  门店4
         2    0.068880  0.592748  四川C       NaN  门店5
         3    0.943595  0.586487  四川C       NaN  门店6
         4    0.896747  0.942178  四川D       NaN  门店7
         5    0.154836  0.548522  四川D       NaN  门店8

D:\anaconda\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

### 多表横向匹配合并

In [90]:
df1=df1.head()
print(df1)

     上月销售      人员数量   区域        销量
门店
门店1   NaN  0.805311  四川A  0.059436
门店2   NaN  0.291768  四川A  0.874946
门店3   NaN  0.493068  四川B  0.072384
门店4   NaN  0.354886  四川B  0.284597
门店5   NaN  0.383879  四川C  0.025853

In [87]:
df2=df2.set_index('门店')
print(df2)

      区域      上月销售      人员数量
门店
门店3  四川B  0.689927  0.926292
门店4  四川B  0.407408  0.595283
门店5  四川C  0.068880  0.592748
门店6  四川C  0.943595  0.586487
门店7  四川D  0.896747  0.942178
门店8  四川D  0.154836  0.548522

In [91]:
df=pd.concat([df1,df2],axis=1,join='inner',keys=['df1','df2'])
print(df)

     df1                           df2
    上月销售      人员数量   区域        销量   区域      上月销售      人员数量
门店
门店3  NaN  0.493068  四川B  0.072384  四川B  0.689927  0.926292
门店4  NaN  0.354886  四川B  0.284597  四川B  0.407408  0.595283
门店5  NaN  0.383879  四川C  0.025853  四川C  0.068880  0.592748

## 修改列名和索引rename()

In [92]:
df=pd.read_excel(r'C:\Users\shifeng.tian\Desktop\Python学习\test2.xlsx')
print(df)

    区域   门店      上月销售      人员数量
0  四川B  门店3  0.689927  0.926292
1  四川B  门店4  0.407408  0.595283
2  四川C  门店5  0.068880  0.592748
3  四川C  门店6  0.943595  0.586487
4  四川D  门店7  0.896747  0.942178
5  四川D  门店8  0.154836  0.548522

### 修改列名

In [93]:
df=df.rename(columns={'上月销量':'10月销量','人员数量':'10月人员数量'})
print(df)

    区域   门店      上月销售   10月人员数量
0  四川B  门店3  0.689927  0.926292
1  四川B  门店4  0.407408  0.595283
2  四川C  门店5  0.068880  0.592748
3  四川C  门店6  0.943595  0.586487
4  四川D  门店7  0.896747  0.942178
5  四川D  门店8  0.154836  0.548522

### 修改索引名

In [94]:
df=df.rename(index={1:'A',2:'B'})
print(df)

    区域   门店      上月销售   10月人员数量
0  四川B  门店3  0.689927  0.926292
A  四川B  门店4  0.407408  0.595283
B  四川C  门店5  0.068880  0.592748
3  四川C  门店6  0.943595  0.586487
4  四川D  门店7  0.896747  0.942178
5  四川D  门店8  0.154836  0.548522

## 简单运算及groupby()

### 对每列求和

In [99]:
df.sum()

区域         四川B四川B四川C四川C四川D四川D
门店         门店3门店4门店5门店6门店7门店8
上月销售                  3.16139
10月人员数量               4.19151
dtype: object

In [100]:
#跳过非数值的列
df.sum(numeric_only=True)

上月销售       3.161393
10月人员数量    4.191511
dtype: float64

如果DataFrame有多层索引，可以添加参数 level='索引层的名称', df.sum(level='索引层名称')就能根据索引层次的数据进行分组运算

### 将数据根据指定的列进行分组

In [104]:
df.groupby(by='区域').sum()

         上月销售   10月人员数量
区域
四川B  1.097335  1.521575
四川C  1.012475  1.179235
四川D  1.051583  1.490700

In [105]:
df.groupby(by='区域').count()

     门店  上月销售  10月人员数量
区域
四川B   2     2        2
四川C   2     2        2
四川D   2     2        2

In [111]:
df2=df.groupby(by='区域').sum()
df2=df2.rename(columns={'上月销售':'销售合计','10月人员数量':'人员合计'})
df2

         销售合计      人员合计
区域
四川B  1.097335  1.521575
四川C  1.012475  1.179235
四川D  1.051583  1.490700

In [113]:
df3=df.groupby(by='区域').mean().rename(columns={'上月销售':'平均销售','10月人员数量':'平均人员数量'})
df3

         平均销售    平均人员数量
区域
四川B  0.548667  0.760788
四川C  0.506237  0.589618
四川D  0.525791  0.745350

In [114]:
#合并
pd.merge(df2,df3,left_index=True,right_index=True)

         销售合计      人员合计      平均销售    平均人员数量
区域
四川B  1.097335  1.521575  0.548667  0.760788
四川C  1.012475  1.179235  0.506237  0.589618
四川D  1.051583  1.490700  0.525791  0.745350

## 透视表pivot_table

In [3]:
df=pd.read_excel(r'C:\Users\shifeng.tian\Desktop\Python学习\test2.xlsx')
df

     区域   门店   产品        销售      人员数量
0   四川A  门店1  产品1  0.728537  0.945129
1   四川A  门店1  产品2  0.516077  0.858616
2   四川A  门店2  产品1  0.008290  0.307723
3   四川A  门店2  产品2  0.690966  0.309242
4   四川B  门店1  产品1  0.772821  0.426638
5   四川B  门店1  产品2  0.223006  0.176738
6   四川B  门店2  产品1  0.541728  0.756716
7   四川B  门店2  产品2  0.522602  0.393496
8   四川C  门店1  产品1  0.856656  0.333277
9   四川C  门店1  产品2  0.410003  0.537979
10  四川C  门店2  产品1  0.961074  0.314425
11  四川C  门店2  产品2  0.998688  0.665639

### 生成透视表

In [4]:
pd.pivot_table(df,values=['销售','人员数量'],index=['区域','门店'],columns='产品',aggfunc='sum')

             人员数量                  销售
产品            产品1       产品2       产品1       产品2
区域  门店
四川A 门店1  0.945129  0.858616  0.728537  0.516077
    门店2  0.307723  0.309242  0.008290  0.690966
四川B 门店1  0.426638  0.176738  0.772821  0.223006
    门店2  0.756716  0.393496  0.541728  0.522602
四川C 门店1  0.333277  0.537979  0.856656  0.410003
    门店2  0.314425  0.665639  0.961074  0.998688

### 不同列用不同算法

In [6]:
pd.pivot_table(df,values=['销售','人员数量'],index=['区域','门店'],columns='产品',aggfunc={'销售':'sum','人员数量':'count'})

        人员数量            销售
产品       产品1 产品2       产品1       产品2
区域  门店
四川A 门店1    1   1  0.728537  0.516077
    门店2    1   1  0.008290  0.690966
四川B 门店1    1   1  0.772821  0.223006
    门店2    1   1  0.541728  0.522602
四川C 门店1    1   1  0.856656  0.410003
    门店2    1   1  0.961074  0.998688

### 添加合计

In [7]:
pd.pivot_table(df,values=['销售','人员数量'],index=['区域','门店'],columns='产品',aggfunc={'销售':'sum','人员数量':'count'},margins=True,
              margins_name='总计')

        人员数量                销售
产品       产品1 产品2  总计       产品1       产品2        总计
区域  门店
四川A 门店1    1   1   2  0.728537  0.516077  1.244614
    门店2    1   1   2  0.008290  0.690966  0.699256
四川B 门店1    1   1   2  0.772821  0.223006  0.995828
    门店2    1   1   2  0.541728  0.522602  1.064329
四川C 门店1    1   1   2  0.856656  0.410003  1.266658
    门店2    1   1   2  0.961074  0.998688  1.959762
总计         6   6  12  3.869106  3.361341  7.230447

## nlargest()分组取最大多行并求和

In [8]:
df

     区域   门店   产品        销售      人员数量
0   四川A  门店1  产品1  0.728537  0.945129
1   四川A  门店1  产品2  0.516077  0.858616
2   四川A  门店2  产品1  0.008290  0.307723
3   四川A  门店2  产品2  0.690966  0.309242
4   四川B  门店1  产品1  0.772821  0.426638
5   四川B  门店1  产品2  0.223006  0.176738
6   四川B  门店2  产品1  0.541728  0.756716
7   四川B  门店2  产品2  0.522602  0.393496
8   四川C  门店1  产品1  0.856656  0.333277
9   四川C  门店1  产品2  0.410003  0.537979
10  四川C  门店2  产品1  0.961074  0.314425
11  四川C  门店2  产品2  0.998688  0.665639

### 查看单列排名

In [9]:
#查看总体销售前3的
df.nlargest(3,'销售')
#不需要排序，也可以排序后用head

     区域   门店   产品        销售      人员数量
11  四川C  门店2  产品2  0.998688  0.665639
10  四川C  门店2  产品1  0.961074  0.314425
8   四川C  门店1  产品1  0.856656  0.333277

### 分组找最大的

In [10]:
df.groupby(by='区域').max()

      门店   产品        销售      人员数量
区域
四川A  门店2  产品2  0.728537  0.945129
四川B  门店2  产品2  0.772821  0.756716
四川C  门店2  产品2  0.998688  0.665639

### 分组找前三名

In [13]:
df.groupby(by='区域').apply(lambda x:x.nlargest(3,'销售'))

         区域   门店   产品        销售      人员数量
区域
四川A 0   四川A  门店1  产品1  0.728537  0.945129
    3   四川A  门店2  产品2  0.690966  0.309242
    1   四川A  门店1  产品2  0.516077  0.858616
四川B 4   四川B  门店1  产品1  0.772821  0.426638
    6   四川B  门店2  产品1  0.541728  0.756716
    7   四川B  门店2  产品2  0.522602  0.393496
四川C 11  四川C  门店2  产品2  0.998688  0.665639
    10  四川C  门店2  产品1  0.961074  0.314425
    8   四川C  门店1  产品1  0.856656  0.333277

### 分组找前三的和

In [23]:
 df.groupby(by='区域').apply(lambda x:x.nlargest(3,'销售')).sum(level='区域')

           销售      人员数量
区域
四川A  1.935580  2.112987
四川B  1.837150  1.576850
四川C  2.816417  1.313340

## 函数应用apply()和applymap()

apply()是对DataFrame里的每行或列进行函数应用。

applymap()是对DataFrame里的每个元素进行函数应用。

map()是对Series里（就是单独一列）的每个元素进行函数应用。

In [24]:
df

     区域   门店   产品        销售      人员数量
0   四川A  门店1  产品1  0.728537  0.945129
1   四川A  门店1  产品2  0.516077  0.858616
2   四川A  门店2  产品1  0.008290  0.307723
3   四川A  门店2  产品2  0.690966  0.309242
4   四川B  门店1  产品1  0.772821  0.426638
5   四川B  门店1  产品2  0.223006  0.176738
6   四川B  门店2  产品1  0.541728  0.756716
7   四川B  门店2  产品2  0.522602  0.393496
8   四川C  门店1  产品1  0.856656  0.333277
9   四川C  门店1  产品2  0.410003  0.537979
10  四川C  门店2  产品1  0.961074  0.314425
11  四川C  门店2  产品2  0.998688  0.665639

### 用.applymap()修改小数位数

In [25]:
df[['销售','人员数量']].applymap(lambda x:'%.2f'%x)

      销售  人员数量
0   0.73  0.95
1   0.52  0.86
2   0.01  0.31
3   0.69  0.31
4   0.77  0.43
5   0.22  0.18
6   0.54  0.76
7   0.52  0.39
8   0.86  0.33
9   0.41  0.54
10  0.96  0.31
11  1.00  0.67

### 定义函数（lambda不能重复应用）

In [28]:
def get_sum(x):
    try:
        return sum(x)
    except:
        return '总计'

In [29]:
df.loc[12]=df.apply(get_sum)
df

     区域   门店   产品        销售      人员数量
0   四川A  门店1  产品1  0.728537  0.945129
1   四川A  门店1  产品2  0.516077  0.858616
2   四川A  门店2  产品1  0.008290  0.307723
3   四川A  门店2  产品2  0.690966  0.309242
4   四川B  门店1  产品1  0.772821  0.426638
5   四川B  门店1  产品2  0.223006  0.176738
6   四川B  门店2  产品1  0.541728  0.756716
7   四川B  门店2  产品2  0.522602  0.393496
8   四川C  门店1  产品1  0.856656  0.333277
9   四川C  门店1  产品2  0.410003  0.537979
10  四川C  门店2  产品1  0.961074  0.314425
11  四川C  门店2  产品2  0.998688  0.665639
12   总计   总计   总计  7.230447  6.025618

## 分列 str.split() 切片及str.extract()

### 分列 str.split()

In [36]:
import pandas as pd
from pandas import DataFrame
import numpy as np

In [37]:
df=pd.read_excel(r'C:\Users\shifeng.tian\Desktop\Python学习\test2.xlsx')
df

       柜台号   柜台名称  区域     10月销售      9月销售
0  AAA 025  四川-A店  四川  0.215078  0.039083
1  AAA 026  四川-B店  重庆  0.751797  0.033516
2  AAA 027  四川-C店  四川  0.524014  0.791630
3  BBB 036  重庆-A店  重庆  0.487578  0.562120
4  BBB 037  重庆-B店  云南  0.916536  0.050265
5  BBB 038  重庆-C店  重庆  0.610875  0.203620

In [38]:
df['柜台名称'].str.split('-',expand=True)

    0   1
0  四川  A店
1  四川  B店
2  四川  C店
3  重庆  A店
4  重庆  B店
5  重庆  C店

In [39]:
pd.merge(df,df['柜台名称'].str.split('-',expand=True),how='left',left_index=True,right_index=True)

       柜台号   柜台名称  区域     10月销售      9月销售   0   1
0  AAA 025  四川-A店  四川  0.215078  0.039083  四川  A店
1  AAA 026  四川-B店  重庆  0.751797  0.033516  四川  B店
2  AAA 027  四川-C店  四川  0.524014  0.791630  四川  C店
3  BBB 036  重庆-A店  重庆  0.487578  0.562120  重庆  A店
4  BBB 037  重庆-B店  云南  0.916536  0.050265  重庆  B店
5  BBB 038  重庆-C店  重庆  0.610875  0.203620  重庆  C店

str.split()有三个参数：第一个参数就是引号里的内容：就是分列的依据。可以是空格，符号，字符串等等。
第二个参数就是前面用到的expand=True，这个参数直接将分列后的结果转换成DataFrame。
第三个参数的n=数字就是限制分列的次数。

### 合并

In [ ]:
df[0'].str.cat(df['1'],sep='_')
#如果是数值型要先转化成字符串

### 切片及str.extract()

In [40]:
df=pd.read_excel(r'C:\Users\shifeng.tian\Desktop\Python学习\test2.xlsx')
df

       订单号   区域   门店        销售
0  sc452de  四川B  门店3  0.073657
1  sc4534d  四川B  门店4  0.385466
2  sc454de  四川C  门店5  0.658468
3  sc4553d  四川C  门店6  0.650569
4  sc456de  四川D  门店7  0.826578
5  sc457dd  四川D  门店8  0.558015

In [42]:
df['订单号'].str[2:]

0    452de
1    4534d
2    454de
3    4553d
4    456de
5    457dd
Name: 订单号, dtype: object

### 只需要数字或字母

In [43]:
#要用到str.extract()及正则表达式。
df['订单号'].str.extract('(\d+)')

      0
0   452
1  4534
2   454
3  4553
4   456
5   457

In [45]:
df['订单号'].str.extract('([a-z]+)')

    0
0  sc
1  sc
2  sc
3  sc
4  sc
5  sc

## 分段函数及cut()

### 用函数方法分段

In [47]:
df=pd.read_excel(r'C:\Users\shifeng.tian\Desktop\Python学习\test2.xlsx')
df

    Unnamed: 0    门店     销售百分比       人员数量
0            0   门店4  0.932113  49.346374
1            1   门店5  0.200338  85.124263
2            2   门店6  0.720286  89.888142
3            3   门店7  0.717116  65.852216
4            4   门店8  0.104306  81.744211
5            5   门店9  0.644102  91.133356
6            6  门店10  0.730772   7.237513
7            7  门店11  0.511563  24.422889
8            8  门店12  0.187337  77.094575
9            9  门店13  0.864266  80.167927
10          10  门店14  0.281137   9.939298
11          11  门店15  0.015485   8.946040
12          12  门店16  0.055760  26.606808
13          13  门店17  0.986753  44.245572
14          14  门店18  0.816509  96.036392
15          15  门店19  0.217803  76.024301
16          16  门店20  0.435242   0.316817
17          17  门店21  0.414019  60.977326
18          18  门店22  0.626343  38.316628
19          19  门店23  0.002006   6.068786
20          20  门店24  0.932771  66.841866
21          21  门店25  0.271033   8.209565
22          22  门店26  0.071355  24.971019

In [48]:
def cut_to(x):
    if x<=20:
        return '20以下'
    elif x<=40:
        return '20-40'
    elif x<=60:
        return '40-60'
    elif x<=80:
        return '60-80'
    else:
        return '80-100'

In [49]:
df['人数分段']=df['人员数量'].map(cut_to)
df

    Unnamed: 0    门店     销售百分比       人员数量    人数分段
0            0   门店4  0.932113  49.346374   40-60
1            1   门店5  0.200338  85.124263  80-100
2            2   门店6  0.720286  89.888142  80-100
3            3   门店7  0.717116  65.852216   60-80
4            4   门店8  0.104306  81.744211  80-100
5            5   门店9  0.644102  91.133356  80-100
6            6  门店10  0.730772   7.237513    20以下
7            7  门店11  0.511563  24.422889   20-40
8            8  门店12  0.187337  77.094575   60-80
9            9  门店13  0.864266  80.167927  80-100
10          10  门店14  0.281137   9.939298    20以下
11          11  门店15  0.015485   8.946040    20以下
12          12  门店16  0.055760  26.606808   20-40
13          13  门店17  0.986753  44.245572   40-60
14          14  门店18  0.816509  96.036392  80-100
15          15  门店19  0.217803  76.024301   60-80
16          16  门店20  0.435242   0.316817    20以下
17          17  门店21  0.414019  60.977326   60-80
18          18  门店22  0.626343  38.316628   20-40
19          19  门店23  0.002006   6.068786    20以下
20          20  门店24  0.932771  66.841866   60-80
21          21  门店25  0.271033   8.209565    20以下
22          22  门店26  0.071355  24.971019   20-40

In [50]:
#分组并计数
df.groupby(by='人数分段').count()

        Unnamed: 0  门店  销售百分比  人员数量
人数分段
20-40            4   4      4     4
20以下             6   6      6     6
40-60            2   2      2     2
60-80            5   5      5     5
80-100           6   6      6     6

### 用.cut()分段

In [51]:
df['分段函数2']=pd.cut(df['人员数量'],[0,20,40,60,80,100],labels=['20以下','20-40','40-60','60-80','80-100'])
df

    Unnamed: 0    门店     销售百分比       人员数量    人数分段   分段函数2
0            0   门店4  0.932113  49.346374   40-60   40-60
1            1   门店5  0.200338  85.124263  80-100  80-100
2            2   门店6  0.720286  89.888142  80-100  80-100
3            3   门店7  0.717116  65.852216   60-80   60-80
4            4   门店8  0.104306  81.744211  80-100  80-100
5            5   门店9  0.644102  91.133356  80-100  80-100
6            6  门店10  0.730772   7.237513    20以下    20以下
7            7  门店11  0.511563  24.422889   20-40   20-40
8            8  门店12  0.187337  77.094575   60-80   60-80
9            9  门店13  0.864266  80.167927  80-100  80-100
10          10  门店14  0.281137   9.939298    20以下    20以下
11          11  门店15  0.015485   8.946040    20以下    20以下
12          12  门店16  0.055760  26.606808   20-40   20-40
13          13  门店17  0.986753  44.245572   40-60   40-60
14          14  门店18  0.816509  96.036392  80-100  80-100
15          15  门店19  0.217803  76.024301   60-80   60-80
16          16  门店20  0.435242   0.316817    20以下    20以下
17          17  门店21  0.414019  60.977326   60-80   60-80
18          18  门店22  0.626343  38.316628   20-40   20-40
19          19  门店23  0.002006   6.068786    20以下    20以下
20          20  门店24  0.932771  66.841866   60-80   60-80
21          21  门店25  0.271033   8.209565    20以下    20以下
22          22  门店26  0.071355  24.971019   20-40   20-40

## 替换 replace()及部分替换

In [78]:
df=pd.read_excel(r'C:\Users\shifeng.tian\Desktop\Python学习\test2.xlsx')
df

    门店        数量       金额        合计
0  门店1         A        0         D
1  门店2      0.99  18.2383      0.99
2  门店3  0.382586  64.7223  0.566236
3  门店4      0.99        C         E
4  门店5   0.26951  18.9447  0.326625
5  门店6         B        0         F
6  门店7  0.708304        0         0
7  门店8  0.606003   95.629  0.422686

### 替换单个值

In [64]:
df.replace('A',0.1)

    门店        数量       金额        合计
0  门店1       0.1        0         D
1  门店2      0.99  18.2383      0.99
2  门店3  0.382586  64.7223  0.566236
3  门店4      0.99        C         E
4  门店5   0.26951  18.9447  0.326625
5  门店6         B        0         F
6  门店7  0.708304        0         0
7  门店8  0.606003   95.629  0.422686

In [68]:
df['金额'].replace(0,0.22,inplace=True)

### 替换多个值

In [69]:
df.replace({'C':0.88,'F':0.777})

    门店        数量         金额        合计
0  门店1       0.1   0.220000         D
1  门店2      0.99  18.238338      0.99
2  门店3  0.382586  64.722255  0.566236
3  门店4      0.99   0.880000         E
4  门店5   0.26951  18.944699  0.326625
5  门店6         B   0.220000     0.777
6  门店7  0.708304   0.220000         0
7  门店8  0.606003  95.628993  0.422686

In [70]:
df.replace('[A-Z]',0.99,regex=True)

    门店        数量         金额        合计
0  门店1  0.100000   0.220000  0.990000
1  门店2  0.990000  18.238338  0.990000
2  门店3  0.382586  64.722255  0.566236
3  门店4  0.990000   0.990000  0.990000
4  门店5  0.269510  18.944699  0.326625
5  门店6  0.990000   0.220000  0.990000
6  门店7  0.708304   0.220000  0.000000
7  门店8  0.606003  95.628993  0.422686

### 修改数据的部分内容

In [79]:
df['门店']=df['门店'].str.replace('门店','Store')
df

       门店        数量       金额        合计
0  Store1         A        0         D
1  Store2      0.99  18.2383      0.99
2  Store3  0.382586  64.7223  0.566236
3  Store4      0.99        C         E
4  Store5   0.26951  18.9447  0.326625
5  Store6         B        0         F
6  Store7  0.708304        0         0
7  Store8  0.606003   95.629  0.422686

In [80]:
df=pd.read_excel(r'C:\Users\shifeng.tian\Desktop\Python学习\test2.xlsx')
df

    门店        数量        金额        合计
0  门店1       NaN  0.872744       NaN
1  门店2  0.306160  0.541637  0.376079
2  门店3  0.621357  0.408676  0.391416
3  门店4  0.553797       NaN       NaN
4  门店5  0.245860  0.512827  0.271957
5  门店6       NaN  0.032238       NaN
6  门店7  0.168084  0.421530  0.829100
7  门店8  0.789963  0.278334  0.832216

## 填充缺失值fillna()

### 填充

In [81]:
df['数量'].fillna(0,inplace=True)
df

    门店        数量        金额        合计
0  门店1  0.000000  0.872744       NaN
1  门店2  0.306160  0.541637  0.376079
2  门店3  0.621357  0.408676  0.391416
3  门店4  0.553797       NaN       NaN
4  门店5  0.245860  0.512827  0.271957
5  门店6  0.000000  0.032238       NaN
6  门店7  0.168084  0.421530  0.829100
7  门店8  0.789963  0.278334  0.832216

In [88]:
df.fillna(method='ffill')

    门店        数量        金额        合计
0  门店1  0.000000  0.872744       NaN
1  门店2  0.306160  0.541637  0.376079
2  门店3  0.621357  0.408676  0.391416
3  门店4  0.553797  0.408676  0.391416
4  门店5  0.245860  0.512827  0.271957
5  门店6  0.000000  0.032238  0.271957
6  门店7  0.168084  0.421530  0.829100
7  门店8  0.789963  0.278334  0.832216

In [97]:
df

    门店        数量        金额        合计
0  门店1  0.000000  0.872744       NaN
1  门店2  0.306160  0.541637  0.376079
2  门店3  0.621357  0.408676  0.391416
3  门店4  0.553797       NaN       NaN
4  门店5  0.245860  0.512827  0.271957
5  门店6  0.000000  0.032238       NaN
6  门店7  0.168084  0.421530  0.829100
7  门店8  0.789963  0.278334  0.832216

In [98]:
df.fillna(df.mean())

    门店        数量        金额        合计
0  门店1  0.000000  0.872744  0.540154
1  门店2  0.306160  0.541637  0.376079
2  门店3  0.621357  0.408676  0.391416
3  门店4  0.553797  0.438284  0.540154
4  门店5  0.245860  0.512827  0.271957
5  门店6  0.000000  0.032238  0.540154
6  门店7  0.168084  0.421530  0.829100
7  门店8  0.789963  0.278334  0.832216

### 判断是否有缺失值

In [99]:
df.isnull()

      门店     数量     金额     合计
0  False  False  False   True
1  False  False  False  False
2  False  False  False  False
3  False  False   True   True
4  False  False  False  False
5  False  False  False   True
6  False  False  False  False
7  False  False  False  False

In [100]:
df.isnull().describe()

           门店     数量     金额     合计
count       8      8      8      8
unique      1      1      2      2
top     False  False  False  False
freq        8      8      7      5

## 设置数字格式，小数位数、百分号、千位分隔符

In [101]:
df=pd.read_excel(r'C:\Users\shifeng.tian\Desktop\Python学习\test2.xlsx')
df

    名称        占比        金额
0  产品1  0.850892  0.248592
1  产品2  0.294165  0.173945
2  产品3  0.206024  0.276788
3  产品4  0.537325  0.552235
4  产品5  0.740609  0.044907
5  产品6  0.965532  0.851820
6  产品7  0.883014  0.088867
7  产品8  0.052462  0.742300

### 设置小数位数

In [102]:
df['金额'].round(decimals=2)

0    0.25
1    0.17
2    0.28
3    0.55
4    0.04
5    0.85
6    0.09
7    0.74
Name: 金额, dtype: float64

In [103]:
df['金额']=df['金额'].round(decimals=0)
df

    名称        占比   金额
0  产品1  0.850892  0.0
1  产品2  0.294165  0.0
2  产品3  0.206024  0.0
3  产品4  0.537325  1.0
4  产品5  0.740609  0.0
5  产品6  0.965532  1.0
6  产品7  0.883014  0.0
7  产品8  0.052462  1.0

### 百分数

In [104]:
df['占比'].map(lambda x:format(x,'.2%'))

0    85.09%
1    29.42%
2    20.60%
3    53.73%
4    74.06%
5    96.55%
6    88.30%
7     5.25%
Name: 占比, dtype: object

### 设置千分位分隔符

In [112]:
df['占比'].map(lambda x:format(x,','))

0     85,089.18010997356
1     29,416.52904863006
2    20,602.430992260535
3    53,732.505692410574
4     74,060.87513367111
5     96,553.23639716342
6     88,301.37337156107
7     5,246.219362479554
Name: 占比, dtype: object

## 重复值标记（duplicated）与删除（drop_duplicates）

###  重复值标记（duplicated）

In [124]:
df=pd.read_excel(r'C:\Users\shifeng.tian\Desktop\Python学习\test2.xlsx',sheet_name='Sheet2')
df

      门店     销售百分比       人员数量
0    门店4  0.831079  97.160005
1    门店5  0.169893  39.420558
2    门店5  0.169893  39.420558
3    门店7  0.101917  69.756824
4    门店8  0.799543  87.155358
5    门店9  0.133825  25.915100
6    门店9  0.133825  25.915100
7   门店11  0.599909  41.243928
8   门店12  0.628862  13.737371
9   门店13  0.413330  61.677469
10  门店14  0.577900   3.143731
11  门店15  0.014238  61.504983
12  门店16  0.196695  29.111367
13  门店17  0.452330  12.139342
14  门店17  0.452330  20.554000
15  门店19  0.620580  77.245607
16  门店20  0.676686  87.471200
17  门店21  0.163953  62.193299
18  门店22  0.113670  23.992782
19  门店23  0.488743  28.058654
20  门店24  0.357026  60.260046
21  门店25  0.378413  22.015977
22  门店26  0.135862   2.293229

In [125]:
df.duplicated()

0     False
1     False
2      True
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
dtype: bool

In [130]:
#筛选出重复的行
df[df.duplicated('门店')]

      门店     销售百分比       人员数量
2    门店5  0.169893  39.420558
6    门店9  0.133825  25.915100
14  门店17  0.452330  20.554000

In [129]:
#筛选出非重复的行
df[df.duplicated('门店')==False]

      门店     销售百分比       人员数量
0    门店4  0.831079  97.160005
1    门店5  0.169893  39.420558
3    门店7  0.101917  69.756824
4    门店8  0.799543  87.155358
5    门店9  0.133825  25.915100
7   门店11  0.599909  41.243928
8   门店12  0.628862  13.737371
9   门店13  0.413330  61.677469
10  门店14  0.577900   3.143731
11  门店15  0.014238  61.504983
12  门店16  0.196695  29.111367
13  门店17  0.452330  12.139342
15  门店19  0.620580  77.245607
16  门店20  0.676686  87.471200
17  门店21  0.163953  62.193299
18  门店22  0.113670  23.992782
19  门店23  0.488743  28.058654
20  门店24  0.357026  60.260046
21  门店25  0.378413  22.015977
22  门店26  0.135862   2.293229

### 按照两列重复筛选重复值

In [137]:
df[df.duplicated(['门店','销售百分比'])]

      门店     销售百分比       人员数量
2    门店5  0.169893  39.420558
6    门店9  0.133825  25.915100
14  门店17  0.452330  20.554000

### 将重复行删除掉drop_duplicates

In [138]:
df.drop_duplicates('门店',keep='last')

      门店     销售百分比       人员数量
0    门店4  0.831079  97.160005
2    门店5  0.169893  39.420558
3    门店7  0.101917  69.756824
4    门店8  0.799543  87.155358
6    门店9  0.133825  25.915100
7   门店11  0.599909  41.243928
8   门店12  0.628862  13.737371
9   门店13  0.413330  61.677469
10  门店14  0.577900   3.143731
11  门店15  0.014238  61.504983
12  门店16  0.196695  29.111367
14  门店17  0.452330  20.554000
15  门店19  0.620580  77.245607
16  门店20  0.676686  87.471200
17  门店21  0.163953  62.193299
18  门店22  0.113670  23.992782
19  门店23  0.488743  28.058654
20  门店24  0.357026  60.260046
21  门店25  0.378413  22.015977
22  门店26  0.135862   2.293229

## 将excel文件分成多个文件存储

In [139]:
df=pd.read_excel(r'C:\Users\shifeng.tian\Desktop\Python学习\test2.xlsx',sheet_name='Sheet3')
df

    门店    数据   种类
0  门店1   456  种类1
1  门店2  4845  种类2
2  门店3   546  种类3
3  门店4    78  种类1
4  门店5    15  种类2
5  门店6    54  种类3
6  门店7    84  种类1
7  门店8    54  种类2

In [141]:
df2=df[df.duplicated('种类')==False]['种类']
df2

0    种类1
1    种类2
2    种类3
Name: 种类, dtype: object

In [145]:
for i in df2:
    df3=df[df['种类']==i]
    df3.to_excel(r'C:\Users\shifeng.tian\Desktop\Python学习\%s.xlsx' %i,index=False)

## 日期时间运算

### 日期相加减

In [147]:
df=pd.read_excel(r'C:\Users\shifeng.tian\Desktop\Python学习\test2.xlsx',sheet_name='Sheet4')
df

    名称        日期一        日期二
0  产品1 2017-11-24 2017-10-24
1  产品2 2017-11-25 2017-10-25
2  产品3 2017-11-26 2017-10-26

In [148]:
df['相距天数']=df['日期一']-df['日期二']
df

    名称        日期一        日期二    相距天数
0  产品1 2017-11-24 2017-10-24 31 days
1  产品2 2017-11-25 2017-10-25 31 days
2  产品3 2017-11-26 2017-10-26 31 days

In [149]:
#得到的数据是timedelta型，转化成整数型
df['相距天数'].map(lambda x:x.days)

0    31
1    31
2    31
Name: 相距天数, dtype: int64

### 日期加减常数

In [150]:
#使用datetime库里面的timedelta函数。
from datetime import datetime,timedelta

In [151]:
df['日期一']-timedelta(days=10)
#也可以加减hours/weeks

0   2017-11-14
1   2017-11-15
2   2017-11-16
Name: 日期一, dtype: datetime64[ns]

In [152]:
#对所有整列减去一个日期
#先定义一个日期
date2=datetime(2017,11,25)
date2

datetime.datetime(2017, 11, 25, 0, 0)

In [153]:
df['日期一']-date2

0   -1 days
1    0 days
2    1 days
Name: 日期一, dtype: timedelta64[ns]

In [154]:
df

    名称        日期一        日期二    相距天数
0  产品1 2017-11-24 2017-10-24 31 days
1  产品2 2017-11-25 2017-10-25 31 days
2  产品3 2017-11-26 2017-10-26 31 days

In [156]:
df.dtypes

名称               object
日期一      datetime64[ns]
日期二      datetime64[ns]
相距天数    timedelta64[ns]
dtype: object

### datetime类型转化成文本类型

In [157]:
df['日期一'].dt.strftime('%Y-%m-%d')

0    2017-11-24
1    2017-11-25
2    2017-11-26
Name: 日期一, dtype: object

In [158]:
df['日期一'].dt.date

0    2017-11-24
1    2017-11-25
2    2017-11-26
Name: 日期一, dtype: object

### 提取时间日期中的 部分信息

In [159]:
#可以提取year/month/day/hour/time/quarter/weekday
df['日期一'].dt.year

0    2017
1    2017
2    2017
Name: 日期一, dtype: int64

### 将timedelta转化成整数

In [160]:
(df['日期一']-df['日期二']).dt.days

0    31
1    31
2    31
dtype: int64

### 计算天数相关

In [161]:
df['日期一'].dt.dayofyear

0    328
1    329
2    330
Name: 日期一, dtype: int64

In [163]:
df['日期一'].dt.weekofyear

0    47
1    47
2    47
Name: 日期一, dtype: int64

## 一次读取多个excel文件并合并

In [168]:
import pandas as pd
import os
inputdir=r'C:\Users\shifeng.tian\Desktop\Python学习\新建文件夹'
df_empty=pd.DataFrame()
for dirpath, dirnames, filenames in os.walk(inputdir):
    for filename in filenames:
        df=pd.read_excel(os.path.join(dirpath,filename))
        df_empty=df_empty.append(df,ignore_index=True)
df_empty

    产品  列1  列2
0  产品1   2   2
1  产品2   2   2
2  产品3   2   2
3  产品1   1   1
4  产品2   1   1
5  产品3   1   1
6  产品1   3   3
7  产品2   3   3
8  产品3   3   3

## 逆透视与stack()melt()

In [2]:
import pandas as pd
from pandas import DataFrame
import numpy as np
df=pd.read_excel(r'C:\Users\shifeng.tian\Desktop\Python学习\test2.xlsx',sheet_name='Sheet5')
df

  产品大类      产品名称  月份1  月份2  月份3  月份4
0  大类一  ProductA    2    7    3    9
1  大类一  ProductB   10    8    9    3
2  大类二  ProductC    9   10    6    6
3  大类二  ProductD    5    5    4    5
4  大类二  ProductE    3    1   10    7

### stack()

In [3]:
df.set_index(['产品大类','产品名称']).stack().reset_index()

   产品大类      产品名称 level_2   0
0   大类一  ProductA     月份1   2
1   大类一  ProductA     月份2   7
2   大类一  ProductA     月份3   3
3   大类一  ProductA     月份4   9
4   大类一  ProductB     月份1  10
5   大类一  ProductB     月份2   8
6   大类一  ProductB     月份3   9
7   大类一  ProductB     月份4   3
8   大类二  ProductC     月份1   9
9   大类二  ProductC     月份2  10
10  大类二  ProductC     月份3   6
11  大类二  ProductC     月份4   6
12  大类二  ProductD     月份1   5
13  大类二  ProductD     月份2   5
14  大类二  ProductD     月份3   4
15  大类二  ProductD     月份4   5
16  大类二  ProductE     月份1   3
17  大类二  ProductE     月份2   1
18  大类二  ProductE     月份3  10
19  大类二  ProductE     月份4   7

### melt()

In [9]:
pd.melt(df,id_vars=['产品大类','产品名称'],value_vars=['月份1','月份2','月份3','月份4'],var_name='销售月份',value_name='销售数量')

   产品大类      产品名称 销售月份  销售数量
0   大类一  ProductA  月份1     2
1   大类一  ProductB  月份1    10
2   大类二  ProductC  月份1     9
3   大类二  ProductD  月份1     5
4   大类二  ProductE  月份1     3
5   大类一  ProductA  月份2     7
6   大类一  ProductB  月份2     8
7   大类二  ProductC  月份2    10
8   大类二  ProductD  月份2     5
9   大类二  ProductE  月份2     1
10  大类一  ProductA  月份3     3
11  大类一  ProductB  月份3     9
12  大类二  ProductC  月份3     6
13  大类二  ProductD  月份3     4
14  大类二  ProductE  月份3    10
15  大类一  ProductA  月份4     9
16  大类一  ProductB  月份4     3
17  大类二  ProductC  月份4     6
18  大类二  ProductD  月份4     5
19  大类二  ProductE  月份4     7

## 层次索引的新建与去除

### 新建DataFrame时建立层次索引

In [13]:
df=pd.DataFrame(np.random.randn(4,4),index=[['大类1','大类2','大类1','大类2'],[0,1,0,1]],
                columns=[['地区1','地区1','地区2','地区2'],['销售','金额','销售','金额']])
df

            地区1                 地区2
             销售        金额        销售        金额
大类1 0  1.376077 -0.340481  0.968947 -1.163360
大类2 1  0.423404 -0.661284 -0.962055  0.554609
大类1 0  0.948362  0.041718 -0.295408 -0.954091
大类2 1 -2.180399  1.060408  1.900042  0.080344

In [15]:
df.index.names=['大类','产品编码']
df.columns.names=['地区','项目']
df

地区             地区1                 地区2
项目              销售        金额        销售        金额
大类  产品编码
大类1 0     1.376077 -0.340481  0.968947 -1.163360
大类2 1     0.423404 -0.661284 -0.962055  0.554609
大类1 0     0.948362  0.041718 -0.295408 -0.954091
大类2 1    -2.180399  1.060408  1.900042  0.080344

### 去除

In [18]:
df.reset_index()

地区   大类 产品编码       地区1                 地区2
项目                  销售        金额        销售        金额
0   大类1    0  1.376077 -0.340481  0.968947 -1.163360
1   大类2    1  0.423404 -0.661284 -0.962055  0.554609
2   大类1    0  0.948362  0.041718 -0.295408 -0.954091
3   大类2    1 -2.180399  1.060408  1.900042  0.080344

In [20]:
df.reset_index(level='产品编码')

地区  产品编码       地区1                 地区2
项目              销售        金额        销售        金额
大类
大类1    0  1.376077 -0.340481  0.968947 -1.163360
大类2    1  0.423404 -0.661284 -0.962055  0.554609
大类1    0  0.948362  0.041718 -0.295408 -0.954091
大类2    1 -2.180399  1.060408  1.900042  0.080344

## 将数据写入Excel多个sheet

In [ ]:
with pd.ExcelWriter(r'C:\Users\数据\Desktop\data\test2.xls') as writer:
    df1.to_excel(writer, sheet_name='df1')
    df2.to_excel(writer, sheet_name='df2')

In [2]:
import pandas as pd
from pandas import DataFrame
import numpy as np

df3=pd.DataFrame(np.random.randint(10,size=(6,2)),columns=['销售','人员数量'])
df3['区域']=['四川A','四川B','四川C','重庆A','重庆B','重庆C']
df3=df3.reindex(columns=['区域','销售','人员数量'])
print(df3)

    区域  销售  人员数量
0  四川A   2     1
1  四川B   6     0
2  四川C   6     6
3  重庆A   4     3
4  重庆B   1     8
5  重庆C   3     2

In [4]:
df3['销售'].value_counts()

6    2
4    1
3    1
2    1
1    1
Name: 销售, dtype: int64